<div>
  <h2>{{ guest.firstName }} {{ guest.middleName }} {{ guest.lastName }}</h2>
  <button class='btn' mat-raised-button color="primary" [routerLink]="['./bookings/create']">
    Add New Booking
  </button>
  <button class='btn' mat-raised-button color="primary" [routerLink]="['./guests/edit/', guest.id]">
    Edit
  </button>
  <button mat-raised-button color="warn" (click)="openDialog()">Delete</button>
  <mat-tab-group>
    <mat-tab label="Personal Details">
      <p>Guest ID: {{ guest.id }}</p>
      <p>Phone: {{ guest.phoneNumber }}</p>
      <p>Email: {{ guest.email }}</p>
      <p>Nationality: {{ guest.nationality }}</p>
      <p>Street Address: {{ guest.streetAddress }}</p>
      <p>City: {{ guest.city }}</p>
      <p>State: {{ guest.state }}</p>
      <p>Zip Code: {{ guest.zipCode }}</p>
      <p>Country: {{ guest.country }}</p>
    </mat-tab>
    <mat-tab label="Bookings ({{ guest.bookings.length }})">
      <mat-card>
        <mat-card class='inner-card' *ngFor="let booking of guest.bookings">
          <a class="booking-id" [routerLink]="['/pages/bookings/', booking.id]">
            Booking ID: {{ booking.id }}
          </a>
          <div>Total Amount: {{ booking.totalPrice | currency: 'USD' }}</div>
          <div>
            Payment Status:
            <mat-chip color="warn" selected>
              {{ booking.paymentStatus }}
            </mat-chip>
          </div>
          <p>
            Number of Room Services: {{ booking.roomServices.length }}
          </p>
          <div *ngFor="let roomService of booking.roomServices">
            <div>Room Service ID: {{ roomService.id }}</div>
            <div>Total Amount: {{ roomService.totalPrice | currency: 'USD' }}</div>
            <div>
              Paid:
              <mat-chip color="warn" selected>
                {{ roomService.isPaid }}
              </mat-chip>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  <mat-chip-list></mat-chip-list>
</div>