<div class="container">
  <h2>Bookings</h2>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Action Column -->
        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [routerLink]="['/pages/bookings/', row.id]">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <!-- roomNumber Column -->
      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Room Number </th>
        <td mat-cell *matCellDef="let row"> {{row.roomNumber}} </td>
      </ng-container>

      <!-- checkInDate Column -->
      <ng-container matColumnDef="checkInDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CheckIn Date </th>
        <td mat-cell *matCellDef="let row"> {{row.checkInDate | date}} </td>
      </ng-container>

      <!-- checkOutDate Column -->
      <ng-container matColumnDef="checkOutDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CheckOut Date </th>
        <td mat-cell *matCellDef="let row"> {{row.checkOutDate | date}} </td>
      </ng-container>

      <!-- country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let row"> {{row.country}} </td>
      </ng-container>

      <!-- createdDate Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
        <td mat-cell *matCellDef="let row"> {{row.createdDate | date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>