.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav_container {
  min-width: 60px; 
  height: calc(100vh - 200px);
}

// .sidenav-container {
  //   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
  //        causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  //   flex: 1;
// }

.user {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.main_content {
  width:100%; 
  height: calc(100vh - 60px); 
  // background: #efefef;
}

h1.app-name {
  margin-left: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.user-menu {
  float: right;
}
