<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-name">App</h1>
      <span class="spacer"></span>
      <span class="user-menu" *ngIf="loggedIn()">
        <button mat-button [matMenuTriggerFor]="menu">
          Welcome {{ authService.decodedToken?.unique_name | titlecase }}
          <mat-icon aria-hidden="false" aria-label="arrow icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item [routerLink]="['../pages/user/edit']">
            <mat-icon aria-hidden="false" aria-label="user icon">person</mat-icon>
            Edit Profile
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="logout icon">power_settings_new</mat-icon>
            Logout
          </button>
        </mat-menu>
      </span>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #snav opened mode="side" fixedTopGap="56">
        <div class="user_menu">
          <mat-nav-list>
            <a mat-list-item>
              <img class="user" src="../../../../assets/user.png" alt="" />
              <!-- <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }}
              </span> -->
            </a>
          </mat-nav-list>
          <mat-divider></mat-divider>
        </div>
        <div>
          <mat-nav-list>
            <a mat-list-item routerLink="../pages/dashboard" routerLinkActive="active" matTooltip="Dashboard"
              matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">dashboard</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'">
                Dashboard
              </span>
            </a>
            <a mat-list-item routerLink="../pages/bookings" routerLinkActive="active" matTooltip="Bookings"
              matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">calendar_today</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Bookings </span>
            </a>
            <a mat-list-item routerLink="../pages/guests" routerLinkActive="active" matTooltip="Guests"
              matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">perm_contact_calendar</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Guests </span>
            </a>
            <a mat-list-item routerLink="../pages/rooms" routerLinkActive="active" matTooltip="Rooms"
              matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">house</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Rooms </span>
            </a>
            <a mat-list-item routerLink="../pages/roomServices" routerLinkActive="active" matTooltip="Room Services"
              matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">room_service</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Room Services </span>
            </a>
            <a mat-list-item routerLink="../pages/laundryServices" routerLinkActive="active"
              matTooltip="Laundry Services" matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">local_laundry_service</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Laundries </span>
            </a>
            <a mat-list-item routerLink="../pages/wakeUpCallServices" routerLinkActive="active"
              matTooltip="Wake Up Call Services" matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">alarm</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Wake Up Calls </span>
            </a>
            <a mat-list-item routerLink="../pages/restaurantOrders" routerLinkActive="active"
              matTooltip="Restaurant Orders" matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">restaurant</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Restaurant </span>
            </a>
            <a mat-list-item routerLink="../pages/menuItems" routerLinkActive="active" matTooltip="Menu Items"
              matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">menu_book</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Menu </span>
            </a>
            <a mat-list-item routerLink="../pages/users" routerLinkActive="active" matTooltip="Users"
              matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">people</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Users </span>
            </a>
            <a *appHasRole="['Manager']" mat-list-item routerLink="../pages/manager" routerLinkActive="active"
              matTooltip="Manager" matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">person</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Manager </span>
            </a>
            <a *appHasRole="['Admin']" mat-list-item routerLink="../pages/admin" routerLinkActive="active"
              matTooltip="Admin" matTooltipPosition="right">
              <mat-icon style="padding-right:30px;">account_box</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'"> Admin </span>
            </a>
          </mat-nav-list>
        </div>
        <span class="spacer"></span>
        <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
          <button mat-icon-button (click)="onSidenavToggle()">
            <mat-icon *ngIf="sideNavState" matTooltip="Dock" matTooltipPosition="right">arrow_left</mat-icon>
            <mat-icon *ngIf="!sideNavState" matTooltip="Undock" matTooltipPosition="right">arrow_right</mat-icon>
          </button>
        </div>
      </mat-sidenav>

      <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open' : 'close'">
        <div class="main_content">
          <div style="padding: 20px">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>