<mat-card>
  <mat-card-title>
    <h2>Welcome to App</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <h3>Register</h3>
  </mat-card-subtitle>
  <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="onRegister(registerForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username" formControlName="username" id="username">
        <mat-hint>Required</mat-hint>
        <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
        <mat-error *ngIf="hasError('username', 'minlength')">Minimum 6 characters required</mat-error>
        <mat-error *ngIf="hasError('username', 'maxlength')">Maximum of 20 characters</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" id="password">
        <mat-hint>Required</mat-hint>
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">Minimum 6 characters required</mat-error>
        <mat-error *ngIf="hasError('password', 'maxlength')">Maximum of 20 characters</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>