<div class="container">
  <h2>Laundry Services</h2>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [routerLink]="['/pages/laundryServices/', row.id]">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- bookingId Column -->
      <ng-container matColumnDef="bookingId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID</th>
        <td mat-cell *matCellDef="let row"> {{row.bookingId}} </td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>
    
      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <!-- roomNumber Column -->
      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Room Number </th>
        <td mat-cell *matCellDef="let row"> {{row.roomNumber}} </td>
      </ng-container>

      <!-- dateOrdered Column -->
      <ng-container matColumnDef="dateOrdered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Ordered </th>
        <td mat-cell *matCellDef="let row"> {{row.dateOrdered | date}} </td>
      </ng-container>

      <!-- dateReturnedFromLaundry Column -->
      <ng-container matColumnDef="dateReturnedFromLaundry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Returned From Laundry </th>
        <td mat-cell *matCellDef="let row"> {{row.dateReturnedFromLaundry | date}} </td>
      </ng-container>

      <!-- dateReturnedToGuest Column -->
      <ng-container matColumnDef="dateReturnedToGuest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Returned To Guest </th>
        <td mat-cell *matCellDef="let row"> {{row.dateReturnedToGuest | date}} </td>
      </ng-container>

      <!-- isPaid Column -->
      <ng-container matColumnDef="isPaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid </th>
        <td mat-cell *matCellDef="let row"> {{row.isPaid }} </td>
      </ng-container>

      <!-- totalPriceBeforeTax Column -->
      <ng-container matColumnDef="totalPriceBeforeTax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price Before Tax </th>
        <td mat-cell *matCellDef="let row"> {{row.totalPriceBeforeTax }} </td>
      </ng-container>

      <!-- taxAmount Column -->
      <ng-container matColumnDef="taxAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax Amount </th>
        <td mat-cell *matCellDef="let row"> {{row.taxAmount }} </td>
      </ng-container>

      <!-- totalPrice Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
        <td mat-cell *matCellDef="let row"> {{row.totalPrice }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>