<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <div
          echarts
          [options]="pieChartOption"
          [theme]="theme"
          class="chart"
        ></div>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <div
          echarts
          [options]="barChartOption"
          [theme]="theme"
          class="chart"
        ></div>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <div
          echarts
          [options]="pieChartOption"
          [theme]="theme"
          class="chart"
        ></div>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <div
          echarts
          [options]="barChartOption"
          [theme]="theme"
          class="chart"
        ></div>
      </mat-card>
    </div>
  </div>
</div>
