<h1 mat-dialog-title>Edit Roles for: {{data.user.userName}}</h1>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <form #rolesForm="ngForm" id="rolesForm">
    <div *ngFor="let role of data.roles">
      <mat-checkbox color="primary" value="{{role.name}}" [checked]="role.checked"
        (change)="role.checked = !role.checked" [disabled]="role.name === 'Admin' && data.user.userName === 'Admin'">
        {{role.name}}</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="updateRoles()" form="rolesForm">Submit</button>
</div>