h2 {
  display: inline;
  vertical-align: middle;
  margin-right: 20px;
}

.inner-card {
  color: white;
  background-color: rgb(184, 214, 13);
  margin-bottom: 20px;
}

.outer-card {
  margin-bottom: 20px;
}

.booking-id {
  font-weight: bold;
}

mat-chip {
  height: 20px;
}

.btn {
  margin-right: 5px;
}
